

.main{
    display: flex;
    height: 82vh;
    justify-content: center;
    align-items: center;
    color: black;
    /* margin-left: 3cm; */
    margin-bottom: 3.5cm;
  }
  
  .main-heading .aname{
    font-size: 2cm;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
  }
  .main-heading .aquotes{
    font-size: 0.8cm;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
  }
  .main-heading .img img{
    width: 25%;
    height: 30%;
    
  }
  .main-heading .img{
    display: flex;
    justify-content: center;
  }
 
  